body ul {
  margin: 0px;
  padding: 0px;
}
.navbar-fixed-bottom {
  margin-bottom: 0px;
  position: fixed;
}
#aloo_date {
  width: 15%;
  position: fixed;
  top: 100px;
  left: 0px;
}
/*
 panel definition
*/
.m-panel {
  border: 5px solid #000;
  background: transparent;
  z-index: 11;
  cursor: pointer;
}
