html {
  height: 100%;
}
body {
  background: url(../images/bg-1.png) no-repeat fixed center bottom;
  height: 100%;
}
h2,
ul,
li {
  text-align: left;
}
h2 {
  font-weight: bold;
}
.area {
  width: 960px;
  margin: 0 auto;
  z-index: 3;
  zoom: 1;
  overflow: hidden;
}
span.face_1 {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}
.digi_bg {
  position: absolute;
  left: 0;
  top: 0;
  color: #ddd;
  z-index: -1;
}
.tooltip {
  border: 5px solid #fc0;
  background-color: #fff;
  position: absolute;
  left: 100px;
  top: 100px;
  opacity: 0.5;
  width: 300px;
  height: 500px;
  z-index: 9999;
}
.cDRed,
.cDRed a,
a.cDRed {
  color: #BA2636;
}
.bolder {
  font-weight: bolder;
}
